---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v2/entries/en-gb/ace?fields=definitions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - APP_ID
      App-Key:
      - APP_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Version:
      - v2
      Code-Version:
      - v2.3.2-g02aa52c
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "id": "ace",
            "metadata": {
                "operation": "retrieve",
                "provider": "Oxford University Press",
                "schema": "RetrieveEntry"
            },
            "results": [
                {
                    "id": "ace",
                    "language": "en-gb",
                    "lexicalEntries": [
                        {
                            "entries": [
                                {
                                    "homographNumber": "100",
                                    "senses": [
                                        {
                                            "definitions": [
                                                "a playing card with a single spot on it, ranked as the highest card in its suit in most card games"
                                            ],
                                            "id": "m_en_gbus0005680.006"
                                        },
                                        {
                                            "definitions": [
                                                "a person who excels at a particular sport or other activity"
                                            ],
                                            "id": "m_en_gbus0005680.010",
                                            "subsenses": [
                                                {
                                                    "definitions": [
                                                        "a pilot who has shot down many enemy aircraft"
                                                    ],
                                                    "id": "m_en_gbus0005680.011"
                                                }
                                            ]
                                        },[...]
