---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v2/entries/en-gb/ace?fields=examples
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - APP_ID
      App-Key:
      - APP_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Version:
      - v2
      Code-Version:
      - v2.3.2-g02aa52c
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "id": "ace",
            "metadata": {
                "operation": "retrieve",
                "provider": "Oxford University Press",
                "schema": "RetrieveEntry"
            },
            "results": [
                {
                    "id": "ace",
                    "language": "en-gb",
                    "lexicalEntries": [
                        {
                            "entries": [
                                {
                                    "homographNumber": "100",
                                    "senses": [
                                        {
                                            "examples": [
                                                {
                                                    "text": "the ace of diamonds"
                                                },
                                                {
                                                    "registers": [
                                                        {
                                                            "id": "figurative",
                                                            "text": "Figurative"
                                                        }
                                                    ],
                                                    "text": "life had started dealing him aces again"
                                                }
                                            ],
                                            "id": "m_en_gbus0005680.006"
                                        },
                                        {
                                            "id": "m_en_gbus0005680.010",
                                            "subsenses": [
                                                {
                                                    "examples": [
                                                        {
                                                            "text": "a Battle of Britain ace"
                                                        }
                                                    ],
                                                    "id": "m_en_gbus0005680.011"
                                   [...]
