---
http_interactions:
- request:
    method: get
    uri: https://od-api.oxforddictionaries.com/api/v2/lemmas/en/changed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      App-Id:
      - APP_ID
      App-Key:
      - APP_KEY
  response:
    status:
      code: 200
      message: OK
    headers:
      Api-Version:
      - v2
      Code-Version:
      - v2.3.2-g02aa52c
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {
            "metadata": {
                "provider": "Oxford University Press"
            },
            "results": [
                {
                    "id": "changed",
                    "language": "en",
                    "lexicalEntries": [
                        {
                            "inflectionOf": [
                                {
                                    "id": "change",
                                    "text": "change"
                                }
                            ],
                            "language": "en",
                            "lexicalCategory": {
                                "id": "verb",
                                "text": "Verb"
                            },
                            "text": "changed"
                        }
                    ],
                    "word": "changed"
                }
            ]
        }
  recorded_at: Sun, 30 Jun 2019 04:24:14 GMT
recorded_with: VCR 4.0.0
